<aside class="sidebar">
  <section class="logo">
    <span class="brand"><img src="../../assets/img/logo.png" alt="Flores Nuria"></span>
  </section>
  <nav class="nav" aria-label="navegación principal">
    <h4>Navegación</h4>
    <ul>
      <li data-page="dashboard"><a href="dashboard.html">Dashboard</a></li>
      <li data-page="reports"><a href="reports.html">Informes</a></li>
      <li data-page="payments"><a href="payments.html">Cobros/Pagos</a></li>
      <!-- <li data-page="schedule"><a href="schedule.html">Agenda</a></li> -->
      <li data-page="products"><a href="products.html">Productos</a></li>
      <li data-page="offers"><a href="offers.html">Ofertas</a></li>
      <li data-page="orders"><a href="orders.html">Pedidos</a></li>
      <!-- <li data-page="customers"><a href="customers.html">Clientes</a></li> -->
      <li data-page="suppliers"><a href="suppliers.html">Proveedores</a></li>
      <!-- <li data-page="employees"><a href="employees.html">Empleados</a></li> -->
    </ul>
    <!-- <h4>Ventas</h4>
    <ul>
      <li data-page="invoices"><a href="invoices.html">Facturas emitidas</a></li>
      <li data-page="deliveries"><a href="deliveries.html">Albaranes emitidos</a></li>
      <li data-page="budgets"><a href="budgets.html">Presupuestos emitidos</a></li>
    </ul> -->
  </nav>
</aside>
